<article>
	<section class="opening"> 
		<h1>Item ranked n°<%= @item.rank %> with a score of <%= @item.score %></h1>
		<p>Share <%= link_to "this item", item_path(@item) %> to your friends.</p> 
	</section>
	<section class="centeredsection">
		<%= image_tag(@item.image_path, {:class => "centeredcontent"}) %>
	</section>
</article>
<hr />
